

<ion-content class="no-scroll" padding>
  
  <div class="main-wrapper">
    <div class="inner-wrapper">

      <form [formGroup]="loginForm">
        <ion-list>

          <div class="form-group">
            <ion-item>
              <ion-icon [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)" color="secondary" name="ios-contact-outline" item-start></ion-icon>
              <ion-input type="email" formControlName="email" clearInput="true" placeholder="Email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
                <small>Please enter a valid email address</small>
            </span>
          </div>

          <div class="form-group">
            <ion-item>
                <ion-icon [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)" color="secondary" name="ios-lock-outline" item-start></ion-icon>
                <ion-input type="password" formControlName="password" clearInput="true" placeholder="Password"></ion-input>
            </ion-item>
            <span class="error" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
                <small>Please enter password</small>
            </span>
          </div>
        </ion-list> 
      </form>

      <button (click)="login()" class="btnLogin" ion-button block round>Login</button>

      <p class="dim" no-margin>
        <span ion-button (click)="signup()" clear color="dark" small float-left>Create Account</span>
        <span ion-button clear color="dark" small float-right>Forgot Password?</span>
      </p>
    </div>
  </div>
  
</ion-content>

