<ion-content>

  <ion-card *ngFor="let item of list">
      <ion-card-header>
        <ion-row>
            <ion-col col-6>
              <h3 class="price" no-margin>{{ item.currency_symbol }} {{ (item.amount - item.total_funded) | number : '1.0-0' }}</h3>
            </ion-col>
            <ion-col text-right col-6>
                <h5 no-margin>
                  {{  item.base_currency_symbol }} {{ (item.preferred_rate) | number : '1.2-2' }} / {{  item.currency_symbol }}
                </h5>
                <p class="dim" no-margin>
                  <small>Preferred rate</small>
                </p>
            </ion-col>
        </ion-row>   
      </ion-card-header>
      <ion-list no-margin no-lines>
        <ion-item text-wrap>
          <ion-avatar item-start>
            <img src="assets/imgs/user.jpg" alt="">
          </ion-avatar>
          <h2 class="capitalize">{{ item.fullname }}</h2>

          <!-- bid button. hide is request belongs to the user -->
          <button *ngIf="item.user_id != user_id" class="btnBid" color="secondary" item-end (click)="viewDetails(item)" ion-button round>
            Bid Now
          </button>

          <!-- edit button. only visible to user who the request belings to if no bids have been made -->
          <button *ngIf="item.user_id == user_id && item.total_bids == 0" class="btnBid" color="primary" outline item-end (click)="editDetails(item)" ion-button round>
            Edit
          </button>

          <p>Ref-Xe-{{ item.request_id }}</p>
        </ion-item>
      </ion-list>
      <ion-row class="light" no-padding>
        <ion-col col-6 padding>
          <small>
            <!-- {{ getDate(item.created_at) }}  -->
            {{ item.total_bids }} Bids
          </small>
        </ion-col>
        <ion-col text-right col-6 padding>
          <small>
              <ion-icon name="md-time"></ion-icon>
              {{ item.date_needed+" 23:59:59" | amTimeAgo }}
          </small>
        </ion-col>
      </ion-row>
    </ion-card>

  <div class="empty-state" *ngIf="(list).length==0">

  </div>


  

</ion-content>
