<ion-header>

  <ion-navbar color="primary">
    <ion-title>Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-list>
      <ion-item text-wrap>
        Bid Value
        <span text-right item-end>
          {{ data.currency_symbol }} {{ data.bid_principal | number : '1.2-2' }}
        </span>
      </ion-item>
      <ion-item text-wrap>
        Offer Value
        <span text-right item-end>
          {{ data.base_currency_symbol }} {{ (formatNumber(data.bid_principal) * formatNumber(data.bid_rate)) | number : '1.2-2' }}
        </span>
      </ion-item>
      <ion-item text-wrap>
        Bid Time
        <span text-right item-end>
            <small>{{ formatDate(data.created_at) }}</small>
        </span>
      </ion-item>
      <ion-item text-wrap>
        Accepted Time
        <span text-right item-end>
            <small>{{ formatDate(data.accepted_at) }}</small>
        </span>
      </ion-item>

        
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header color="light">{{ this.data.funded ? 'Trasnferred to' : 'Transfer to' }}</ion-list-header>
      <ion-item *ngFor="let item of platform">
          <h2>{{ item.account_name }}</h2>
          <p>{{ item.account_number }}</p>
          <p><small>{{ item.bank_name }}</small></p>
          <p item-end><small>{{ item.location }}</small></p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list no-margin>
      <ion-list-header color="light">{{ this.data.funded ? 'My Credit Account' :  'Account to credit' }}</ion-list-header>
      <ion-item *ngIf="data.account_id && !loading">
        <h2>{{ account.account_name }}</h2>
        <p>{{ account.account_number }}</p>
        <p><small>{{ account.bank_name }}</small></p>
        <p item-end><small>{{ account.location }}</small></p>
      </ion-item>

      <ion-item *ngIf="data.account_id && loading">
        <p>loading...</p>
      </ion-item>
  

      <button (tap)="connectAccount()" ion-item *ngIf="!data.account_id">
        <ion-icon name="add-circle" item-start></ion-icon>
        <h2>No account provided</h2>
        <p>please tap to select or add account</p>
      </button>
    </ion-list>
    <ion-row *ngIf="data.account_id && !this.data.funded">
      <ion-col (tap)="connectAccount()" ion-button color="primary" clear col-12>
          Change
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
