page-accepted-summary {

    .header{
        .toolbar-title{
            font-size: 1.2em;
        }
    }
    .card{
        border-radius:12px;
        // border-left: 3px solid color($colors,secondary);
        box-shadow: none!important;
    }

    .list-header{
        margin-bottom: 0;
    }

    .empty-state{
        width: 100%;
        height: 100%;
        background: url("../assets/imgs/norequest.png");
        background-position: bottom;
        background-size: cover;
    }

    .card-header{
        h3{
            font-size: 1.8rem;
        }

        // padding-bottom: 0;
    }

    .price{
        position: absolute;
        right:-16px;
        padding: 5px 10px;
        border-bottom-left-radius: 25px 20px;
        border-top-left-radius: 25px 20px;
        background: color($colors,danger);
        color:#fff;    
        font-size: 1.6rem!important;
    }

    .capitalize{
        text-transform: capitalize;
    }
}
