

<ion-content class="no-scroll" padding>
    
    <div class="main-wrapper">
      <div class="inner-wrapper">

        <form [formGroup]="registerForm">
          <ion-list>

            <div class="form-group">
              <ion-item>
                <ion-icon [class.invalid]="!registerForm.controls.fullname.valid && (registerForm.controls.fullname.dirty || submitAttempt)" color="secondary" name="ios-contact-outline" item-start></ion-icon>
                <ion-input type="text" formControlName="fullname" clearInput="true" placeholder="Fullname"></ion-input>
              </ion-item>
              <span class="error" *ngIf="!registerForm.controls.fullname.valid  && (registerForm.controls.fullname.dirty || submitAttempt)">
                  <small *ngIf="registerForm.controls.fullname.hasError('required')">Please enter fullname</small>
                  <small *ngIf="registerForm.controls.fullname.hasError('pattern')">Please enter your fullname</small>
              </span>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-icon [class.invalid]="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)" color="secondary" name="ios-mail-outline" item-start></ion-icon>
                <ion-input type="email" formControlName="email" clearInput="true" placeholder="Email"></ion-input>
              </ion-item>
              <span class="error" *ngIf="!registerForm.controls.email.valid  && (registerForm.controls.email.dirty || submitAttempt)">
                  <small>Please enter a valid email address</small>
              </span>
            </div>

            <div class="form-group">
              <ion-item>
                  <ion-icon [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)" color="secondary" name="ios-lock-outline" item-start></ion-icon>
                  <ion-input type="password" formControlName="password" clearInput="true" placeholder="Password"></ion-input>
              </ion-item>
              <span class="error" *ngIf="!registerForm.controls.password.valid  && (registerForm.controls.password.dirty || submitAttempt)">
                  <small *ngIf="registerForm.controls.password.hasError('required')">Please enter password</small>
                  <small *ngIf="registerForm.controls.password.hasError('minlength')">Password must be atleast 6 characters</small>
              </span>
            </div>
          </ion-list> 
        </form>
  
        <button (click)="signup()" class="btnLogin" ion-button block round>Get Started</button>
  
        <p class="dim" no-margin>
          <span (click)="back()" ion-button clear color="dark" small float-left>Existing User?</span>
          <span  ion-button clear color="dark" small float-right>Help?</span>
        </p>
      </div>
    </div>
    
  </ion-content>
  
  