page-register {
    .item{
        border-radius: 64px;
        border:0!important;
        background: rgba(255,255,255,0.5);
    }
    
    .form-group{
        margin-bottom: 10px;
    }

    .item-inner{
        border-bottom:0!important;
        margin-left:0!important;
    }

    .btnLogin{
        padding: 2.45rem 2.6rem;
        margin-bottom: 20px;
    }

    .no-scroll{
        .scroll-content{
            overflow: hidden;
        }
    }

    .main-wrapper{
        display: table;
        width: 100%;
        height: 100%;

        .inner-wrapper{
            display: table-cell;
            height: 100%;
            width: 100%;
            vertical-align: middle;
        }
    }
}
