
<ion-content>
    <div class="contentWrapper">
      <ion-navbar>
        <ion-title>Choose Account</ion-title>
        <ion-buttons end>
          <button (click)="close()" [disabled]="submitAttempt" ion-button clear icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="mainContent">

        <ion-list>
          <ion-item text-wrap *ngFor="let item of accounts;let i = index">
            <ion-label>
              {{ item.account_name  }}<br>{{ item.account_number }}
              <br/><small>{{ item.bank_name+", "+item.location }}</small>
            </ion-label>
            <ion-checkbox item-end (ngModelChange)="changeCheck(i)" [(ngModel)]="item.checked"></ion-checkbox>
          </ion-item>
        </ion-list>

        
        <ion-row no-padding>
          <ion-col col-12 no-padding>
              <button no-margin (click)="submit()" [disabled]="submitAttempt" ion-button block color="primary">Submit</button>
            </ion-col>
        </ion-row>
      </div>
    </div>
</ion-content>

