page-choose-account {
    ion-content{
        background: transparent!important;
    }

    .scroll-content{
        display: table;
        width:100%;
        height: 100%;
    }

    .contentWrapper{
        display: table-cell;
        width: 100%;
        height: 100%;
        padding:0 20px;
        vertical-align: middle;
    }


    .toolbar-background{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }


    .mainContent{
        background: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .row{
        .button{
            border-bottom-left-radius: 12px!important;
            border-bottom-right-radius: 12px!important;
        }
    }
    .bg-light{
        background: #f9f9f9;
    }

    .capitalize{
        text-transform: capitalize;
    }
}
