<ion-header>
    
  <ion-navbar color="primary">
    <ion-title>{{ data ? 'Edit' : 'Add' }} Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <p text-center class="dim">Please enter your bank account information below</p>

    <form [formGroup]="accountForm">

      <div class="form-group">
        <ion-item>
          <ion-label>Account Name</ion-label>
          <ion-input type="text" formControlName="account_name"></ion-input>
        </ion-item>
        <span class="error" *ngIf="!accountForm.controls.account_name.valid && (accountForm.controls.account_name.dirty || submitAttempt)">
            Please enter account name
        </span>
      </div>

      <div class="form-group">
        <ion-item>
          <ion-label>Account Number</ion-label>
          <ion-input type="tel"  formControlName="account_number" clearInput="true"></ion-input>
        </ion-item>
        <span class="error" *ngIf="!accountForm.controls.account_number.valid && (accountForm.controls.account_number.dirty || submitAttempt)">
            Please enter account number
        </span>
      </div>

      <div class="form-group">
        <ion-item>
          <ion-label>Bank Name</ion-label>
          <ion-input type="text"  formControlName="bank_name" clearInput="true"></ion-input>
        </ion-item>
        <span class="error" *ngIf="!accountForm.controls.bank_name.valid && (accountForm.controls.bank_name.dirty || submitAttempt)">
            Please enter bank name
        </span>
      </div>

      <div class="form-group">
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-input type="text" (tap)="search()"  formControlName="location" clearInput="true"></ion-input>
        </ion-item>
        <span class="error" *ngIf="!accountForm.controls.location.valid && (accountForm.controls.location.dirty || submitAttempt)">
            Please enter location
        </span>
      </div>


    </form>
  </ion-list>

  <button (click)="submit()" [disabled]="submitAttempt" ion-button round block>Submit</button>
</ion-content>
    