<ion-header>

  <ion-navbar color="primary">
    <ion-title  text-center>Bids</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of bids">
      <ion-avatar [ngClass]="item.status == 'accepted' ? 'accepted' : item.status == 'rejected' || item.status == 'cancelled' ? 'rejected' : '' " item-start>
        <img [src]="item.user && item.user.profile_image ? item.user.profile_image : 'assets/imgs/user.jpg'" alt="">
      </ion-avatar>
      <h2 style="text-transform:capitalize">{{ item.user ? item.user.fullname : "loading..." }}</h2>
      <span item-end text-right>
        {{ item.base_currency_symbol }} {{ (item.bid_rate) | number : '1.2-2' }} / {{ item.currency_symbol }}<br>
        <small>rate</small>
      </span>
      <p>{{ item.currency_symbol }} {{ (item.bid_principal) | number : '1.2-2' }}</p>
    </ion-item>
  </ion-list>
</ion-content>
