page-view-bids {
    .accepted{
        border-color: color($colors,success)!important;
    }

    .rejected{
        border-color: color($colors,danger)!important;
    }

    ion-avatar{
        padding: 4px;
        border-radius: 50%;
        border: 2px solid #f0f0f0;

        img{
            border-radius: 50%;
        }
    }
}
