<!--<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content>
  <div class="top" style="background:url(assets/imgs/profile.jpg);">
      <button float-left (click)="close()" color="light" ion-button icon-only clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <div class="profile-image">
        <img src="assets/imgs/user.jpg" alt="">

        <h3 no-margin>John Doe</h3>
        <p no-margin>john.doe@test.com</p>
        <ion-fab bottom right edge>
          <button color="secondary" ion-fab><ion-icon name="add"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab><ion-icon name="camera"></ion-icon></button>
            <button ion-fab><ion-icon name="images"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
      </div>

        
  </div>
  <div class="bottom">
    <ion-list>  
      <ion-item>
        <ion-label floating>Fullname</ion-label>
        <ion-input type="text" clearInput="true" placeholder="Fullname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Rate</ion-label>
        <ion-input type="number" clearInput="true" placeholder="Rate"></ion-input>
      </ion-item>
    </ion-list>

    <div margin-left margin-right>
      <button ion-button block round>Submit</button>
    </div>
  </div>
</ion-content>
