page-profile {
    .top{
        height: 250px;
        background:#6C6D69;
        background-size:cover;
        position: relative;
    }

    .profile-image{
        position: absolute;
        top: 50%;
        width: 100%;
        padding:0 20px;
        transform: translateY(-50%);
        
        img{
            width: 20%;
            border-radius: 50%;
            margin-bottom:20px;
        }

        h3,p{
            color: #fff;
        }

        h3{
            font-weight: lighter;
        }

        p{
            opacity: 0.6;
        }
    }
}
