<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>SwiftXE</ion-title>
    <ion-buttons end>
      <button (click)="gotoSettings()" ion-button icon-only clear>
        <ion-icon name="ios-apps-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>  
  <super-tabs class="home-tabs">
    <super-tab [root]="tabRoot1" title="latest deals"></super-tab>
    <super-tab [root]="tabRoot2" title="my offers"></super-tab>
    <super-tab [root]="tabRoot3" title="my requests"></super-tab>
  </super-tabs>
</ion-content>
