page-home {
    .home-tabs{
        .title{
            font-size: 12px!important;
            color: #fff!important;
            font-weight: lighter!important;
        }

        .selected{
            .title{
                font-weight: 500!important;
            }
        }

        .toolbar-background{
            background: color($colors,primary)!important;
        }


    }

    
}
