<ion-header no-margin>

  <ion-navbar no-border>
    <ion-title>Settings</ion-title>
  </ion-navbar>
  <div text-center class="profile">
      <img src="assets/imgs/user.jpg" alt="">
      <h3 no-margin>{{ user.fullname }}</h3>
      <p no-margin>{{ user.email }}</p>
  </div>

</ion-header>


<ion-content>

  <ion-list no-lines>
    <button ion-item (click)="gotoPage('ProfilePage')">
      Edit profile
    </button>
    <button ion-item (click)="gotoPage('AccountsPage')">
        My Accounts
    </button>
    <button ion-item (click)="gotoPage('ChangePasswordPage')">
     Change password
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="gotoPage('NotificationsPage')">
      Notifications
    </button>
    <button ion-item>
     Frequently asked questions
    </button>
    <button ion-item>
      About App
    </button>
    <ion-item-divider color="light"></ion-item-divider>
    <button (click)="logout()" ion-item>
      Logout
    </button>
    
  </ion-list>

  <!--<ion-card>
    <ion-list no-margin>
      <button ion-item>
        Edit Profile
      </button>
      <button ion-item>
        Change Password
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list no-margin>
      <button ion-item>
        Notifications
      </button>
      <button ion-item>
       Frequently asked questions
      </button>
      <button ion-item>
       About
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list no-margin>
      <button ion-item>
       Logout
      </button>
    </ion-list>
  </ion-card>-->

</ion-content>
