page-settings {

    .toolbar-background{
        background: transparent;
    }
    .card{
        border-radius:8px;
        border-left: 3px solid color($colors,secondary);
    }

    .profile{
        padding:5% 0 10%;

        img{
            width: 25%;
            margin: 0 auto;
            border-radius: 50%;
        }

        h3{
            margin:5px 0;
            color: #fff;
            font-weight: 400;
        }

        p{
            color: #fff;
            opacity: 0.6;
        }
    }

    .header{
        background: linear-gradient(to bottom right,color($colors,primary),color($colors,secondary));
        background: -webkit-linear-gradient(to bottom right,color($colors,primary),color($colors,secondary));
        background: -moz-linear-gradient(to bottom right,color($colors,primary),color($colors,secondary));
        background: -o-linear-gradient(to bottom right,color($colors,primary),color($colors,secondary));

        .bar-button,.toolbar-title{
            color: #fff;
        }
    }


}
