<ion-header no-border>
    <ion-navbar color="primary">
      <ion-title>Edit Bid</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
    <div class="top" text-center>
  
        <div class="profile-image">
          <img [src]="details.borrower.profile_image ? details.borrower.profile_image : 'assets/imgs/user.jpg'" alt="">
          <h5 class="dim lighter"> <span class="capitalize">{{ (details.borrower.fullname) }}</span></h5>
  
          <h5 no-margin>
           {{ details.request.currency_symbol }} {{ (details.request.amount | number : '1.0-0') }}<small> at {{ details.request.base_currency_symbol }} {{ (details.request.preferred_rate) | number : '1.2-2' }} / {{ details.request.currency_symbol }} </small>
          </h5>
  
        </div>
        
  
        <div class="top-footer">
          <ion-row>
            <ion-col (tap)="viewBids()" text-center col-6>
              <h5>{{ details.request.total_bids ? details.request.total_bids : "0"   }} Bids</h5>
              <p no-margin>View</p>
            </ion-col>
            <ion-col>
                <h5>{{ details.request.currency_symbol }} {{ (details.request.amount - details.request.total_accepted) | number : '1.0-0' }}</h5>
                <p no-margin>Amt Left</p>
            </ion-col>
          </ion-row>
        </div>
    </div>
  
    <div class="bottom" padding>
      <ion-list>
        <ion-item>
          <ion-label>Amount {{ details.request.currency_symbol }}</ion-label>
          <ion-input type="tel" text-right (input)="investment = format(investment)" placeholder="0.00" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$" [(ngModel)]="investment"></ion-input>
        </ion-item>
      </ion-list>
  
      <ion-list>
        <ion-item>
          <ion-label>Rate {{ details.request.base_currency_symbol }}</ion-label>
          <ion-input type="tel" text-right placeholder="0.00" (input)="rate = format(rate)" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"[(ngModel)]="rate"></ion-input>
          <span item-end>/ {{ details.request.currency_symbol }}</span>
        </ion-item>
      </ion-list>
  
      <button ion-button class="submit-btn" (click)="submit()" block round>Submit Bid</button>
    </div>
  
    
  </ion-content>
  