page-edit-bid {
    background: transparent!important;
    
        .push-header{
            margin-top: 45%;
        }
    
        .push-content{
            margin-top: 45%!important;
        }
    
        .top{
            background: linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
            background: -webkit-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
            background: -moz-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
            background: -o-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
            position: relative;
            color:#fff;
        }
    
        .top-footer{
            height: 70px;
            background: #fff;
    
            .row{
                padding:11px 0;
                opacity: 0.85;
                color: #000;
    
                .col{
                    font-weight: lighter;
    
                    h5{
                        margin:0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    
        .profile-image{
            padding-bottom: 20px;
            
            img{
                width: 20%;
                border-radius: 50%;
            }
    
            h3,p{
                color: #fff;
            }
    
            h3{
                font-weight: lighter;
            }
        }
    
        .item{
            border-radius: 64px;
            border:0!important;
            box-shadow: none!important;
        }
    
        .form-group{
            margin-bottom: 10px;
        }
    
        .digit-keyboard-row,.digit-keyboard-key{
            border:0!important;
        }
    
        .item.active input{
            opacity: 1.0!important;
        }
    
        // .bottom{
        //     margin-top:-40px;
        // }
    
        .no-scroll{
            .scroll-content{
                overflow: hidden;
            }
        }
    
        .row .col{
            border-right: 1px solid #dedede;
        }
    
        .row .col:last-child{
            border-right: 0;
        }
    
        .capitalize{
            text-transform: capitalize;
        }
    
        .lighter{
            font-weight: lighter;
        }
    
}
