<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Accounts</ion-title>
  </ion-navbar>
  <div text-center padding>
    Manage your Bank Account
  </div>
</ion-header>


<ion-content>
    <ion-list *ngIf="accounts.length > 0">

      <ion-item-sliding  *ngFor="let item of accounts;let i = index">
        <ion-item>
          <h2>{{ item.account_name }}</h2>
          <p item-end><small>{{ item.location }}</small></p>
          <p>{{ item.account_number }}</p>
          <p><small>{{ item.bank_name }}</small></p>
        </ion-item>
    
        <ion-item-options side="right">
          <button color="dark" ion-button (click)="edit(i)" icon-only>
            <ion-icon name="create"></ion-icon>
          </button>
          <button color="danger" ion-button (click)="delete(i)" icon-only>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div class="empty-state" *ngIf="(accounts).length==0">
  
    </div>

    <ion-fab bottom right>
      <button (click)="addAccount()" ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
