page-accounts {
    .empty-state{
        width: 100%;
        height: 100%;
        background: url("../assets/imgs/norequest.png");
        background-position: bottom;
        background-size: cover;
    }
}
