
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list padding-bottom>
      <ion-item>
        <ion-label floating>Old Password</ion-label>
        <ion-input type="password" placeholder="Old Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" placeholder="New Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Retype Password</ion-label>
        <ion-input type="password" placeholder="Retype Password"></ion-input>
      </ion-item>
    </ion-list>

    <div padding-left padding-right>
      <button ion-button block round>Submit</button>
    </div>
    
</ion-content>
