// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import './components/ion-digit-keyboard/ion-digit-keyboard';

ion-content{
    background: #F2F2F2!important;
}

.bold{
    font-weight: 600!important;
}

.header{
    .toolbar-title{
        font-weight: lighter;
    }
}

// .button-block{
//     height: 4rem!important;
// }


.date-picker[_ngcontent-c0]   .top-banner[_ngcontent-c0]{
    background: color($colors,primary)!important;
}

.date-picker[_ngcontent-c0]   .day-selected[_ngcontent-c0]{
    background-color: color($colors,primary)!important;
    color: #fff!important;
}

.dim{
    opacity: 0.7;
}

.button{
    text-transform: capitalize!important;
}

.invalid{
    color: color($colors,danger)!important;
}

.error{
    color: color($colors,danger)!important;
    opacity: 0.7;
}

.modal-wrapper{
    box-shadow: none!important;
    background: rgba(0,0,0,0.75)!important;
}