
<ion-content>
    <ion-card *ngFor="let item of list">

        <ion-card-header>
            <ion-row>
                <ion-col col-6>
                    <p no-margin>
                        <small>{{ formatDate(item.created_at) }}</small>
                    </p>
                </ion-col>
                <ion-col text-right col-6>
                    <h3 class="price" no-margin>{{ item.request.currency_symbol }} {{ item.bid_principal | number : '1.0-0' }}</h3>
                </ion-col>
            </ion-row>   
        </ion-card-header>
        <ion-list no-margin no-lines>
            <ion-item text-wrap>
                <ion-avatar item-start>
                    <img [src]="item.borrower && item.borrower.profile_image ? item.borrower.profile_image : 'assets/imgs/user.jpg'" alt="">
                </ion-avatar>
                <h2 class="capitalize">{{ item.borrower ? item.borrower.fullname : 'loading...' }}</h2>
                <span item-end>
                    <small>
                            {{  item.request.base_currency_symbol }} {{ (item.request.preferred_rate) | number : '1.2-2' }} / {{  item.request.currency_symbol }}
                    </small>
                </span>
                <p>{{ item.request ? "Ref-Xe-"+item.request.request_id : "" }}</p>
            </ion-item>
        </ion-list>
        <ion-row>
            <ion-col col-6>
                <button (click)="withdraw(item)" *ngIf="item.bid_status == 'pending'" ion-button small clear icon-left>
                   <ion-icon name="refresh"></ion-icon>
                   Withdraw Bid
                </button>

                <div *ngIf="item.bid_status != 'pending'" style="padding:5px;">
                    {{ item.is_funded ? 'funded' : item.bid_status }}
                </div>
            </ion-col>
            <ion-col text-right col-6>
                <button (click)="editBid(item)" ion-button *ngIf="item.bid_status == 'pending'"  small clear icon-left>
                    <ion-icon name="create"></ion-icon>
                    Edit Bid
                </button>
                <button (click)="acceptedSummary(item)" ion-button *ngIf="item.bid_status == 'accepted'"  small clear icon-left>
                    View Summary
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <div class="empty-state" *ngIf="(list).length==0">

    </div>
        
</ion-content>
