<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>My Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item-divider color="light"></ion-item-divider>
        <ion-item text-wrap>
            Request Amount
            <span item-end text-right>
                {{ data.currency_symbol }} {{ (data.amount) | number : '1.2-2' }}
            </span>
          </ion-item>
          <ion-item text-wrap>
            Total Accepted
            <span item-end text-right>
                {{ data.currency_symbol }} {{ (data.total_accepted) | number : '1.2-2' }}
            </span>
          </ion-item>
          <ion-item text-wrap *ngIf="data.pay_requested">
              Transferred Out
              <span item-end text-right>
               {{ data.base_currency_symbol }} {{ data.amount_to_pay ? (data.amount_to_pay | number : '1.2-2') : '0.00' }}
              </span>
          </ion-item>
          <ion-item text-wrap *ngIf="data.pay_requested">
              Request Time
              <span item-end text-right>
               {{ formatDate(data.date_pay_requested) }}
              </span>
          </ion-item>
          <ion-item text-wrap *ngIf="!data.pay_requested">
            Total Funded
            <span item-end text-right>
                {{ data.currency_symbol }} {{ (data.total_funded) | number : '1.2-2' }}
            </span>
          </ion-item>


          <div *ngIf="!data.pay_requested">
            <ion-item-divider color="light"></ion-item-divider>
            <button (click)="viewBid('pending')" ion-item>
              Pending Bids
              <ion-badge item-end color="danger">
                {{ (data.total_bids && data.total_bids_accepted) ? (data.total_bids - data.total_bids_accepted) : data.total_bids ? data.total_bids : '0' }}
              </ion-badge>
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
            <button (click)="viewBid('accepted')" ion-item>
              Accepted Bids
              <ion-badge item-end color="success">
                  {{ data.total_bids_accepted ? data.total_bids_accepted : '0' }}
              </ion-badge>
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </div>

          <ion-item-divider color="light">My Credit Account</ion-item-divider>
          <ion-item *ngIf="account && !loadingAccount">
            <h2>{{ account.account_name }}</h2>
            <button class="btnBid" (click)="connectAccount()" ion-button round item-end>change</button>
            <p>{{ account.account_number }}</p>
            <p><small>{{ account.bank_name+", "+account.location }}</small></p>
          </ion-item>  
          <ion-item *ngIf="!account && loadingAccount">
            <h2>loading...</h2>
          </ion-item>
          <button (tap)="connectAccount()" ion-item *ngIf="!account && !loadingAccount">
            <ion-icon item-start name="add-circle"></ion-icon>
            <h2>No Account details</h2>
            <p>please tap to add/select account</p>
          </button>        

    </ion-list>

    <div *ngIf="!data.pay_requested" padding-left padding-right>
        <button (click)="getPaid()" ion-button round block>Get Paid</button>
    </div>

</ion-content>
