page-all-bids {
    #top{
        // background: linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
        // background: -webkit-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
        // background: -moz-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
        // background: -o-linear-gradient(to bottom,color($colors,primary),color($colors,secondary));
        background: #f9f9f9;

        height: 45%;
        position: relative;

        #topContent{
            display: table;
            width: 100%;
            height: calc(100% - 42px);

            #content{
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }

            .item{
                background: transparent!important;
            }

            .label{
                // background: linear-gradient(to bottom right,#fafafa,#fff);
                // padding: 12px 0;
                // border-radius: 24px;
                // color: #000;
                // opacity: 0.85;
                // width: 100%;
                // margin:0 auto;
            }

            .row{
                max-width: 300px;
                width: 100%;
                margin: 0 auto;
            }

            .col{
                text-align: center;
            }
        }

        #bidSegment{
            position: absolute;
            width: 100%;
            bottom: 0;

            .segment{
                background: #fff;
            }
        }
    }

    #bottom{
        height: 55%;
        overflow: scroll;
    }

    .card{
        border-radius:12px;
        // border-left: 3px solid color($colors,secondary);
        box-shadow: none!important;
    }

    .btnBid{
        padding:15px 12px!important;
    }

    .empty-state{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        background: url("../assets/imgs/norequest.png");
        background-position: bottom;
        background-size: cover;
    }

    #segmentPending,#segmentAccepted{
        position: relative;
        width: 100%;
        height: 100%;
    }
}
