
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item padding-left padding-right padding-top no-padding-bottom>
      <ion-label> Push Notifications</ion-label>
      <ion-toggle color="danger" checked="false"></ion-toggle>
    </ion-item>
    <ion-item padding-left padding-right padding-top no-padding-bottom>
      <ion-label> Email Notifications</ion-label>
      <ion-toggle color="danger" checked="false"></ion-toggle>
    </ion-item>
    <ion-item padding-left padding-right padding-top no-padding-bottom>
      <ion-label> Newsletters</ion-label>
      <ion-toggle color="danger" checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
