<ion-header>
<ion-toolbar>
  <ion-buttons start style="order:1">
      <button (click)="dismiss()" ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
  <ion-title>What city are you?</ion-title>
</ion-toolbar>
  <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
</ion-header>
<ion-content>
    
    <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
        {{ item }}
        </ion-item>
    </ion-list>
</ion-content>
