<ion-header>

  <ion-navbar color="primary">
    <ion-title>Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-list no-lines no-margin>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="data.profile_image ? data.profile_image : 'assets/imgs/user.jpg'" alt="">
        </ion-avatar>
        <h2 style="text-transform:capitalize">{{ data.fullname }}</h2>
        <p>{{ data.location ? data.location : 'location n/a' }}</p>
      </ion-item>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        Request Principal
        <span item-end>
          {{ data.currency_symbol+" "+(data.amount | number : '1.2-2') }}
        </span>
      </ion-item>
      <ion-item>
        Total Funded
        <span item-end>
          {{ data.currency_symbol+" "+(data.total_funded | number : '1.2-2') }}
        </span>
      </ion-item>
      <ion-item>
        Exchange Currency
        <span item-end>
          {{ data.base_currency_code+" ("+data.base_currency_symbol+")" }}
        </span>
      </ion-item>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        Amount Offered
        <span item-end>
          {{ data.currency_symbol+" "+(data.bid_principal | number : '1.2-2') }}
        </span>
      </ion-item>
      <ion-item>
        Rate
        <span item-end>
          {{ data.base_currency_symbol+" "+(data.rate)+" / "+data.currency_symbol }}
        </span>
      </ion-item>
    </ion-list>
    <ion-card-content>
      <span style="text-transform:capitalize">{{ (data.fullname).split(" ")[0] }} </span> will pay you {{ data.base_currency_symbol+" "+((parseFloat(data.bid_principal) * parseFloat(data.rate)) | number : '1.2-2') }} for {{ data.currency_symbol+" "+(data.bid_principal | number : '1.2-2') }}
    </ion-card-content>
  </ion-card>

  <div padding-left padding-right>
    <button [disabled]="submitAttempt" (click)="submit()" ion-button block round>Submit Bid</button>
  </div>
</ion-content>
