
<ion-content>
    <div class="contentWrapper">
      <ion-navbar>
        <ion-title>Accept</ion-title>
        <ion-buttons end>
          <button (click)="close()" ion-button clear icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
      <div padding class="mainContent">

        <ion-list no-lines>
          <ion-item>
            Name
            <span class="capitalize" item-end text-right>
              {{ data.user.fullname }}
            </span>
          </ion-item>
          <ion-item>
            Amount
            <span class="capitalize" item-end text-right>
              {{ data.currency_symbol }} {{ (data.bid_principal) | number : '1.2-2' }}
            </span>
          </ion-item>
          <ion-item>
            Rate
            <span class="capitalize" item-end text-right>
              {{ data.base_currency_symbol }} {{ (data.bid_rate) |  number : '1.2-2' }} for 1 {{ data.currency_symbol }}
            </span>
          </ion-item>
        </ion-list>

        <div padding text-center class="bg-light">
          <p no-margin>
            <small>By clicking the accept button, you agree to pay <span class="capitalize">{{ (data.user.fullname).split(" ")[0] }}</span><br>{{ data.base_currency_symbol }} {{ (parseNumber(data.bid_principal) * parseNumber(data.bid_rate)) | number : '1.2-2' }} for {{ data.currency_symbol }} {{ (data.bid_principal) | number : '1.2-2' }}   </small>
          </p>
        </div>
        
        <ion-row no-padding>
          <ion-col col-6>
            <button (click)="reject()" ion-button round block color="danger">Reject</button>
          </ion-col>
          <ion-col col-6>
              <button (click)="accept()" ion-button round block color="success">Accept</button>
            </ion-col>
        </ion-row>
      </div>
    </div>
</ion-content>

