<ion-header>

  <ion-navbar color="primary">
    <ion-title>Post Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

      <form [formGroup]="postForm">

      <div class="form-group">
          <ion-item>
            <ion-label>I have</ion-label>
            <ion-select formControlName="base_currency" interface="action-sheet">
              <ion-option value="" [disabled]="true">Please select</ion-option>
              <ion-option value="{{ item.code }}" *ngFor="let item of currencies">{{ item.code }}</ion-option>
            </ion-select>
          </ion-item>
          <span class="error" *ngIf="!postForm.controls.base_currency.valid && (postForm.controls.base_currency.dirty || submitAttempt)">
            Please select currency
          </span>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label>Currency</ion-label>
            <ion-select formControlName="currency" interface="action-sheet">
              <ion-option value="" [disabled]="true">Please select</ion-option>
              <ion-option value="{{ item.code }}" *ngFor="let item of currencies">{{ item.code }}</ion-option>
            </ion-select>
          </ion-item>
          <span class="error" *ngIf="!postForm.controls.currency.valid && (postForm.controls.currency.dirty || submitAttempt)">
            Please select currency
          </span>
        </div>

        <div class="form-group">
          <div class="item item-block item-md item-input">
            <div class="item-inner">
              <div class="input-wrapper">
                <label for="" class="label label-md">Amount {{ postForm.value.currency ? "("+postForm.value.currency+")" : ""  }}</label>

                <input type="tel" formControlName="amount" text-right placeholder="0.00" class="text-input text-input-md" [textMask]="{mask: mask}">
              </div>
            </div>
            <div class="button-effect"></div>
          </div>
          <span class="error" *ngIf="!postForm.controls.amount.valid && (postForm.controls.amount.dirty || submitAttempt)">
              Please enter amount
          </span>
        </div>

        <div class="form-group">
          <div class="item item-block item-md item-input">
            <div class="item-inner">
              <div class="input-wrapper">
                <label for="" class="label label-md">Prefarred Rate {{ postForm.value.base_currency ? "("+postForm.value.base_currency+")" : "" }}</label>

                <input type="tel" formControlName="rate" text-right placeholder="0.00" class="text-input text-input-md" [textMask]="{mask: mask}">
                <span item-end *ngIf="postForm.value.currency">
                 / {{ postForm.value.currency }}
                </span>
              </div>
            </div>
            <div class="button-effect"></div>
          </div>
          <span class="error" *ngIf="!postForm.controls.rate.valid && (postForm.controls.rate.dirty || submitAttempt)">
              Please enter rate
          </span>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime formControlName="date"></ion-datetime>
          </ion-item>
          <span class="error" *ngIf="!postForm.controls.amount.valid && (postForm.controls.date.dirty || submitAttempt)">
              Please select date
          </span>
        </div>


      </form>
    </ion-list>

    <button (click)="submit()" [disabled]="loading" ion-button round block>Submit</button>
</ion-content>
