page-single-bid {
    .card{
        border-radius:12px;
        // border-left: 3px solid color($colors,secondary);
        box-shadow: none!important;
    }

    .empty-state{
        width: 100%;
        height: 100%;
        background: url("../assets/imgs/norequest.png");
        background-position: bottom;
        background-size: cover;
    }
}
