
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngFor="let item of list;let i = index">
      <ion-list no-lines no-margin>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.user ? item.user.profile_image ? item.user.profile_image : 'assets/imgs/user.jpg' : 'assets/imgs/user.jpg'" alt="">
          </ion-avatar>

          <h2 style="text-transform:capitalize">{{ item.user ? item.user.fullname : 'loading...' }}</h2>
          <button *ngIf="type == 'pending'" (click)="viewBid(i)" class="btnBid" ion-button round item-end>
            View
          </button>
          <p>{{ item.currency_symbol }} {{ (item.bid_principal) | number : '1.2-2' }} at {{ item.base_currency_symbol }} {{ (item.bid_rate) | number : '1.2-2' }} / {{ item.currency_symbol }}</p>
          
        </ion-item>
      </ion-list>
    </ion-card>
    <div class="empty-state" *ngIf="(list).length==0">
        
    </div>
</ion-content>
