
<ion-content>    
    <ion-card *ngFor="let item of list" (tap)="viewRequest(item)">
        <ion-card-header>
        <ion-row>
            <ion-col col-6>
                <h3 no-margin>{{ item.base_currency_symbol }} {{ (item.preferred_rate) | number : '1.2-2' }} / {{ item.currency_symbol }}</h3>
                <small>Preferred rate</small>
                <p>
                   <small><span [ngClass]="item.status  == 'pending' ? 'danger' : ''">{{ item.status }}</span> </small>
                </p>
            </ion-col>
            <ion-col text-right col-6>
                <h3 [ngClass]="item.amount == item.total_accepted ? 'price success' : 'price' " no-margin>{{ item.currency_symbol }} {{ item.amount | number : '1.0-0' }}</h3>
            </ion-col>
        </ion-row>   
        </ion-card-header>
        <ion-row no-padding>
        <ion-col col-6 padding>
            <small>
                Bids: {{ item.bids ? item.bids : "0" }}
            </small>
        </ion-col>
        <ion-col text-right col-6 padding>
            <small>
                <ion-icon name="md-time"></ion-icon>
                {{ item.date_needed+" 00:00:00" | amTimeAgo }}
            </small>
        </ion-col>
        </ion-row>
    </ion-card>

    <div class="empty-state" *ngIf="(list).length==0">

    </div>

</ion-content>

<ion-fab bottom right>
    <button (click)="gotoNewPost()" ion-fab><ion-icon name="add"></ion-icon></button>
</ion-fab>
